*.vagrant
*.venv
*.pyc
*.egg-info
.tox
*/__pycache__
_build
docs/commands
docs/commands.rst
docs/components
docs/components.rst
build
dist
.ropeproject
*/.ropeproject
.cache
.xii-env
htmlcov
.coverage

